# Copy this file to .env and replace the values with your own
PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
SECRET=123
NODE_ENV=development

PUBLIC_OIDC_AUTHORITY=http://localhost:8080/default/.well-known/openid-configuration
# PUBLIC_OIDC_AUTHORITY=https://guard.munify.cloud
PUBLIC_OIDC_CLIENT_ID=default
# PUBLIC_OIDC_CLIENT_ID=275671515582758948@dev

OIDC_ROLE_CLAIM=urn:zitadel:iam:org:project:275671427955294244:roles
PUBLIC_FEEDBACK_URL=https://fb-delegator.dmun.de

# OTEL_ENDPOINT_URL=http://localhost:4318/v1/traces

CERTIFICATE_SECRET="<yourSecret>" # Replace with your own secret key for signing certificates / run `openssl rand -base64 32`