services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d postgres -U postgres"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - delegator-dev:/var/lib/postgresql/data

# When using the mock server this can be helpful to paste into the form to create a valid token with claims etc.
# {
#  "email": "my@mail.com",
#  "family_name": "Munify",
#  "given_name": "Delegator Jr.",
#  "preferred_username": "delegatoruser_123",
#  "locale": "de"
# }
  mockoidc:
    image: ghcr.io/navikt/mock-oauth2-server:2.1.5
    ports:
      - 8080:8080
    environment:
      JSON_CONFIG: >
        {
          "interactiveLogin": true,
          "httpServer": "NettyWrapper",
          "tokenCallbacks": []
        }


  # app:
  #   image: munifydelegator
  #   depends_on:
  #     - postgres
  #   network_mode: host
  #   environment:
  #     - PORT=3000
  #     - DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres

  #     - PUBLIC_OIDC_AUTHORITY=http://localhost:8080
  #     # - PUBLIC_OIDC_AUTHORITY=https://guard.munify.cloud

  #     - PUBLIC_OIDC_CLIENT_ID=delegator
  #     # - PUBLIC_OIDC_CLIENT_ID=275671515582758948@dev

  #     - SECRET=123

volumes:
  delegator-dev: