@import '@deutschemodelunitednations/corporate-identity/css/fonts';
@import '@deutschemodelunitednations/corporate-identity/css/shades/dmun';

@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@import '@deutschemodelunitednations/corporate-identity/css/theme/dmun-light';
@import '@deutschemodelunitednations/corporate-identity/css/theme/dmun-dark';

@utility max-ch-sm {
	max-width: 50ch;
}

@utility max-ch-md {
	max-width: 75ch;
}

@utility max-ch-lg {
	max-width: 100ch;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('https://dmuncdnstorage.blob.core.windows.net/cdn/fontawesome-pro-6.7.2/webfonts/fa-solid-900.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

#mermaid .outcome > * {
	stroke: #000 !important;
	transition: all 0.3s;
}

#mermaid .outcome:hover > * {
	stroke: #3d7dd2 !important;
	transition: all 0.3s;
}

#mermaid g.edgelabel {
	padding: 3px !important;
	color: blue;
}

.print-only {
	display: none;
}

@media print {
	.no-print {
		display: none;
	}

	.print-only {
		display: block;
	}
}

/* https://github.com/kbrgl/svelte-french-toast/issues/103 */
.toaster > .wrapper > .base > .indicator > .status {
	height: auto !important;
	width: auto !important;
}
