@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'FontAwesome';
	src: url('/fontawesome/webfonts/fa-solid-900.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

#mermaid .outcome > * {
	stroke: #000 !important;
	transition: all 0.3s;
}

#mermaid .outcome:hover > * {
	stroke: #3d7dd2 !important;
	transition: all 0.3s;
}

#mermaid g.edgelabel {
	padding: 3px !important;
	color: blue;
}

.print-only {
	display: none;
}

@media print {
	.no-print {
		display: none;
	}

	.print-only {
		display: block;
	}
}

/* TOAST Styling */
._toastContainer {
	@apply !toast;
}

._toastItem {
	@apply !alert !alert-warning !text-wrap !shadow-lg;
}

._toastBtn {
	@apply !btn !btn-square !btn-ghost;
}
